body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1f2937;
  color: #F9FAF8;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}

.links {
  color: #e5e7eb;
  font-size: 18px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.body-one {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 100px;
}

.left-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
}

.hero {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  margin: 0px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

img {
  width: 500px;
  height: auto;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  width: 100px;
  padding: 10px;
  font-weight: bold;
  border-style: none;
}