body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1f2937;
  color: #F9FAF8;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
}

.links {
  color: #e5e7eb;
  font-size: 18px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.body-one {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 100px;
}

.left-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
}

.hero {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

img {
  width: 500px;
  height: auto;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  width: 100px;
  padding: 10px;
  font-weight: bold;
  border-style: none;
}

.body-two {
  display: flex;
  flex-direction: column;    
  margin-bottom: 100px;
}

.info {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 25px;
}

.info-boxes {
  display: flex;
  justify-content: center;
  column-gap: 58px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 150px;
}

.box {
  border-color: #3882F6;
  border: 4px solid #3882F6;
  border-radius: 8px;
  height: 150px;
  width: 150px;
}

.body-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  flex-direction: column;
  width: 775px;
  margin: 100px;
}

.saying {
  color: #1f2937;
  font-family: Italic;
  font-weight: 300;
  font-size: 36px;
  margin: 0px;
}

.author {
  align-self: flex-end;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.body-four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
}

.call {
  display: flex;
  background-color: #3882F6;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  border-radius: 4px;
  padding: 10px;
  height: 100px;
}

.call-left {
  display: flex;
  flex-flow: column wrap;
  color: white;
}

.call-header {
  background-color: #3882F6;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.subtext {
  margin: 0px;
  font-size: 14px;
}


.call button {
  border: solid 2px white;
  border-width: 1px;
}

.footer {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.footer p {
  color: white;
  font-size: 12px;
}